@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-2-rows {
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
